h1{
  text-align: center;
  font-family: 'Permanent Marker';
}

.art{
  margin: auto;
}

td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
  align-items: center;

}

#one{
  background-color: #DAD2D8;
}

#two{
  background-color: #325FA2;
}

#three{
  background-color: #143642;
}

#four{
  background-color: #EC9A29
}

#five{
  background-color: #A8201A
}
